:root {
  /* FONTS */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* COLORS */
  --primary-brand-cl: rgb(77, 90, 229);
  --pressed-state-cl: rgb(64, 75, 191);
  --dark-cl: rgb(46, 47, 66);
  --success-cl: rgb(49, 208, 170);
  --text-cl: rgb(67, 68, 85);
  --subtle-text-cl: rgb(142, 143, 153);
  --accent-cl: rgb(231, 233, 252);
  --light-cl: rgb(244, 244, 253);
  --white-background-cl: rgb(255, 255, 255);
  --modal-background-cl: rgb(252, 252, 252);
}

body {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--text-cl);
  background-color: var(--white-background-cl);
}

/* RESET styles */
a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  color: currentColor;
}

address {
  font-style: normal;
}

/* COMMON styles*/
.section-title {
  color: var(--dark-cl);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.logo {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-cl);
}

.logo-accent {
  color: var(--dark-cl);
}

/* #region HEADER */
.header-menu-link {
  color: var(--dark-cl);
}

.contacts-link {
  font-weight: 400;
}

.header-menu-link:hover,
.header-menu-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--pressed-state-cl);
}
/* #endregion */

/* #region HERO */
.hero {
  background-color: var(--dark-cl);
}

.hero-title {
  color: var(--white-background-cl);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-btn {
  color: var(--white-background-cl);
  background-color: var(--primary-brand-cl);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state-cl);
}
/* #endregion */

/* #region BENEFITS */
.benefits-title {
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-cl);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.benefits-text {
  font-weight: 400;
}
/* #endregion */

/* #region TEAM */
.team {
  background-color: var(--light-cl);
}

.team-item {
  background-color: var(--white-background-cl);
}

.member-name {
  color: var(--dark-cl);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.member-pos {
  font-size: 16px;
  font-weight: 400;
}
/* #endregion */

/* #region PORTFOLIO */
.portfolio-item {
  background-color: var(--white-background-cl);
}

.portfolio-title {
  color: var(--dark-cl);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.portfolio-text {
  font-weight: 400;
}
/* #endregion */

/* #region FOOTER */
.footer {
  background-color: var(--dark-cl);
}

.footer .logo-accent {
  color: var(--light-cl);
}
.footer-text {
  color: var(--light-cl);
  font-weight: 400;
}
/* #endregion */
